@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    /* max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem; */
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .search_section {
    @apply hidden md:flex relative mr-[20px] lg:mr-[80px];
    /* @apply max-w-[300px] md:max-w-[400px] lg:max-w-[500px]; */
    width: calc(100% - 290px);
  }
  .nav_right {
    @apply w-full;
    max-width: calc(100% - 500px);
    @apply md:max-w-screen-sm;
  }
}
